{{ define "main" }}
{{ with .Site.Params.description }}
<p class="description">{{ . }}</p>
{{ end }}
<section class="indexpage">
    {{ $paginator := .Paginate (where .Site.RegularPages.ByDate.Reverse "Section" "posts") 8 }}
    {{ range $paginator.Pages }}
    <article class="toplist">
        <figure>
            {{ $head_img := .Resources.GetMatch "images/featured.jpg" }}
            {{ if $head_img }}
            {{ $small := $head_img.Fit "480x240 q100" }}
            <a href="{{ .RelPermalink }}" title="{{ .Title }}"><img src="{{ $small.RelPermalink }}" max-width="480px" max-height="240px" alt="{{ .Title }}"></a>
            {{ else }}
            <a href="{{ .RelPermalink }}" title="{{ .Title }}"><img src="/images/eyecache.jpg" max-width="480px" max-height="240px" alt="{{ .Title }}"></a>
             {{ end }}
        </figure>
        <div class="card">
          <div class="list-title">
           <h2><a href="{{ .RelPermalink }}" title="{{ .Title }}" >{{ .Title }}</a></h2>
          </div>
          <time>{{.Date.Format "2006年01月02日"}}</time>
          <!--
              <div class="summary">
           <p>{{ .Summary }}</p>    
           <p class="readmore"><a class="readmore" href="{{ .RelPermalink }}" title="「{{ .Title }}」の続きを読む">続きを読む</a><p>
          </div> -->
        </div>
    </article> 
    {{ end }}
</section>   
    <div class="pagination">
        {{- partial "pagination.html" . -}}
    </div>
{{ end }}

