{{ define "main" }}
{{ with .Site.Params.description }}
<p class="description">{{ . }}</p>
{{ end }}
<section class="indexpage">
    {{ $paginator := .Paginate (where .Site.RegularPages.ByDate.Reverse "Section" "posts") 8 }}
    {{ range $paginator.Pages }}
    <article class="toplist">
        <figure>
            <div class="gradient" style="max-width: 1250px; max-height: 620px;">
             {{ $head_img := .Resources.GetMatch "images/featured.jpg" }}
             {{ if $head_img }}
             {{ $small := $head_img.Fit "1250x625 q85" }}
             <a href="{{ .RelPermalink }}"><img class="list_img" src="{{ $small.RelPermalink }}" width="1980px" height="990px" alt="{{ .Title }}"></a>
             {{ else }}
              <a href="{{ .RelPermalink }}"><img class="list_img" src="/images/eyecache.jpg" width="1980px" height="990px" alt="{{ .Title }}"></a>
              {{ end }}
            </div>
             <div class="card"> <h2 class="entry_title"><a href="{{ .RelPermalink }}" title="{{ .Title }}" >{{ .Title }}</a></h2>
                <time>{{.Date.Format "2006年01月02日"}}</time>
                <p>{{ .Summary }}</p>    
                <p class="readmore"><a class="readmore" href="{{ .RelPermalink }}" title="「{{ .Title }}」このエントリーを読む">このエントリーを読む</a><p>
            </div>
        </figure>
    </article> 
    {{ end }}
</section>   
    <div class="pagination">
        {{- partial "pagination.html" . -}}
    </div>
{{ end }}

